streamlit
langchain
langchain-community
langchain-core
langchain-text-splitters
langchain-ollama

ollama

faiss-cpu
chromadb

pypdf
pymupdf

python-dotenv

pandas
numpy

sentence-transformers

tqdm

plotly

fastapi
uvicorn

sqlalchemy

pillow
opencv-python

networkx

python-multipart
streamlit
langchain
langchain-community
langchain-ollama
langchain-core
langchain-classic
chromadb
pypdf
plotly
pandas
networkx
pyvis
streamlit-agraph
sqlalchemy
aiosqlite
ollama
pyvis
networkx
streamlit-agraph